@import './partials/variables.css';
@import './partials/reset.css';
@import './partials/header.css';
@import './partials/footer.css';

.container {
  width: 100%;
}

.showcase {
  width: 100%;
  height: 70vh;
  background: url('../../assets/images/img.jpg') no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  overflow-x: hidden;
}

.showcase .opener {
  color: var(--sl-orange);
  font-weight: var(--fw-400);
  padding-top: 75px;
}

.showcase h1 {
  text-transform: uppercase;
  font-size: 28px;
  padding-top: 5px;
  background: url('../images/bg-clip2.jpg') 5% 50%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 800;
}

.showcase .topic {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 14px;
  border: 1px solid rgba(255, 255, 255, 0.9);
  padding: 8px 1px;
}

.showcase .date {
  font-size: 22px;
  font-weight: var(--fw-900);
  padding-top: 10px;
}

.showcase .address {
  font-size: 14px;
  padding-top: 10px;
}

main .programs {
  position: relative;
  height: auto;
  padding: 20px 0;
  z-index: 0;
  background: url('../../assets/images/bg-1.png') no-repeat center center/cover;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--white);
  margin: 0 0 19px;
  text-align: center;
  font-size: 18px;
  padding-top: 20px;
}

.speakers-content .heading {
  padding: 20px 0;
  color: var(--sl-black);
}

.heading span {
  position: relative;
  top: 0;
  bottom: 5px;
  width: 19px;
  border-bottom: solid 2px var(--sl-orange);
  padding: 4px 0;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
  padding: 3px 16px;
}

.card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(39, 41, 48, 0.9);
  transition: transform ease-in 0.6s 0.09s;
  margin: 0 auto;
  padding: 9px 5px;
  border: 1px solid var(--sl-orange);
}

.card:hover {
  border: solid 3px var(--white);
  transform: scale(1.02);
  cursor: pointer;
}

.card h3 {
  font-size: 17px;
  font-weight: var(--fw-600);
  color: var(--sl-orange);
  margin: auto 10px;
}

.card p {
  width: 50%;
  color: #fff;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
}

#boost {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.footer img {
  width: 10%;
}

.sponsors-list img {
  width: 60px;
  height: 60px;
  margin-top: -10px;
}

.more {
  display: none;
}

/* SPEAKERS SECTION  */
.speakers-content {
  margin: 0 0 -14px 0;
}

.speaker-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform ease-in 0.6s 0.09s;
  margin: 0 auto;
  padding: 9px 15px;
}

.speaker-card-images {
  position: relative;
  width: 200px;
  height: 120px;
  margin-right: 25px;
  object-fit: contain;
  top: 0;
  margin-top: 0;
}

.speaker-card-images img:first-child {
  width: 50px;
  height: 50px;
}

.speaker-card-images img:nth-child(2) {
  position: absolute;
  height: 109px;
  top: 12px;
  left: 13px;
  object-fit: cover;
}

.speaker-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
  margin-left: 10px;
}

.speaker-details h3 {
  font-size: 19px !important;
  color: var(--sl-black);
}

.speaker-desc-1 {
  font-size: 14px;
  color: var(--sl-orange);
  text-transform: capitalize;
}

.speaker-desc-2 {
  font-size: 13px;
  color: var(--sl-black);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  outline: none;
  border: none;
  cursor: pointer;
  text-align: center;
  color: var(--white);
  background: var(--sl-orange);
  padding: 25px;
  margin: 20px auto;
  font-size: 20px;
  font-weight: var(--fw-500);
}

.speakers .btn {
  width: 85%;
  padding: 15px;
  font-size: 17px;
  background: var(--white);
  color: var(--sl-black);
  border: 1px solid var(--sl-black);
}

hr {
  width: 30px;
}

.btn .fa-chevron-down {
  color: var(--sl-orange);
  font-size: 20px;
  margin-left: 3%;
}

/* Sponsors */
.sponsors {
  width: 100%;
  margin-top: 60px;
  background: var(--sl-black);
  padding-bottom: 40px;
}

.sponsors-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-right: 20px;
  flex-wrap: nowrap;
}

/* media queries */

@media screen and (min-width: 768px) {
  .showcase {
    height: 80vh;
  }

  .showcase .opener {
    font-size: 19px;
    margin-top: 15px;
  }

  .showcase h1 {
    font-size: 40px;
  }

  .showcase .topic {
    width: 512px;
    font-size: 17px;
  }

  .showcase .date {
    font-size: 27px;
  }

  .showcase .address {
    font-size: 17px;
  }

  .programs .btn {
    padding: 20px;
  }

  .cards-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    padding: 3px 16px;
  }

  .cards-wrapper .card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    font-size: 10px;
  }

  .cards-wrapper .card p {
    font-size: 13px;
    width: 100px;
  }

  .speakers .card-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 3px 16px;
  }
}

@media screen and (min-width: 992px) {
  main .programs a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 4rem 0;
    color: var(--white);
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: underline;
  }

  .more i {
    color: var(--white);
    font-size: 20px;
  }

  .header .fa-bars {
    display: none;
  }

  .header-top {
    display: flex;
    padding: 0 10px;
  }

  .header-top li a,
  .header-top li a i {
    color: #fff;
  }

  .header-bottom {
    display: flex;
    padding: 0 30px;
  }

  .header__navLink {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: unset;
    height: 60px;
    gap: 0;
    font-weight: var(--fw-400);
    background: none;
    padding-top: 0;
    font-size: 20px;
    left: unset;
    right: unset;
    top: unset;
    transition: none;
  }

  .navbar .header__navLink .nav-item {
    color: var(--sl-black);
  }

  .nav-button {
    display: inline-block;
    text-align: center;
    padding: 5px;
  }

  .header__navLink .nav-button a {
    color: var(--sl-orange);
  }

  .heading {
    padding-top: 3rem;
  }

  .showcase {
    height: 85vh;
  }

  .showcase h1 {
    font-size: 50px;
    letter-spacing: 5px;
  }

  .showcase .opener {
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
  }

  .showcase .topic {
    font-size: 20px;
    line-height: 30px;
  }

  .showcase .date {
    font-size: 28px;
    line-height: 40px;
  }

  .speakers .btn {
    display: none;
  }

  main .programs .btn {
    display: none;
  }

  .more {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    background-color: var(--sl-orange);
    margin: 20px auto;
  }

  main .programs a:hover {
    color: var(--sl-orange);
    font-weight: var(--fw-700);
  }

  .cards-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    padding: 3px 130px;
  }

  .speakers .card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 15px;
    padding: 3px 130px;
  }

  .programs {
    padding: 10px 130px;
  }

  .footer {
    padding: 0 130px;
  }

  .sponsors-list img {
    margin-top: -20px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    display: block;
  }

  .showcase h1 {
    font-size: 55px;
    letter-spacing: 5px;
    margin: 10px 0;
  }

  .showcase .opener {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    padding-top: 160px;
  }

  .showcase .topic {
    font-size: 20px;
    line-height: 30px;
    width: 600px;
    padding: 10px 1px;
  }

  .showcase .date {
    font-size: 25px;
    line-height: 40px;
    margin: 10px 0;
  }

  .showcase .address {
    font-size: 19px;
    font-weight: 500;
  }

  .heading {
    padding: 2rem;
  }

  .header .fa-bars {
    display: none;
  }

  .header-bottom,
  .header-top {
    display: flex;
    padding: 0 130px;
    color: var(--sl-black);
  }

  .header-bottom {
    justify-content: space-between;
    align-items: center;
  }

  .showcase {
    width: 100vw;
    height: 100vh;
    padding: 0 130px;
  }

  .programs {
    padding: 10px 130px;
  }

  .speakers .card-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 15px;
    padding: 3px 130px;
  }

  .speakers .btn {
    display: none;
  }

  .sponsors-list img {
    margin-top: -30px;
  }

  .footer {
    padding: 0 130px;
  }
}
